/*
Mobile
*/
@media screen and (max-width: 360px) {
	h1 {
		text-transform: uppercase;
		font-size: 1.3em;
		font-weight: 500;
		margin: 10px;
		text-align: center;
		padding: 0;
	}

	.logo {
		width: 50px;
		height: 50px;
	}

	/*
		begin pancake menu
	*/

	.default-nav {
		padding: 10px;
	}

	#menu {
		display: none;
		min-height: 100%;
		width: 90%;
		margin: 0 10px 0 0;
		position: fixed;
		transition: 0.3s ease;
	}

	#menu li {
		margin: 1.5em;
		list-style: none;
		text-align: center;
	}

	#menu a {
		text-align: center;
		font-size: 2em;
		font-weight: 500;
		text-transform: uppercase;
	}

	#menu a:link {
		color: black;
	}

	#menu a:visited {
		color: #380E89;
	}

	#pancake {
		z-index: 1;
		float: right;
		display: block;
		position: absolute;
		right: 20px;
		top: 5px;
		padding: 0;
		margin: 10px 20px 0 0;
		cursor: pointer;
	}

	.bar {
		width: 35px;
		height: 5px;
		background-color: #380E89;
		margin: 6px 0;
		transition: 0.4s;
		border-radius: 5px;
		transition: 0.3s ease;
	}

	#bar1 {
		transform: translateY(-4px);
	}
	
	#bar3 {
		transform: translateY(4px);
	} 

	#menu {
		padding: 0;
		transition: 0.3s ease;
		display: none;
	}

	.change .bar {
		background-color: #380E89;
	}
	.change #bar1 {
		transform: translateY(10px) rotateZ(-45deg);
	}
	.change #bar3 {
		transform: translateY(-10px) rotate(45deg);
	}
	.change #bar2 {
		opacity: 0;
	}
	.change {
		display: block;
	}
	/* End pancake*/

	.sect {
		margin: 0 0 0 1em;
		min-height: 700px;
		display: inline-block;
		width: calc(100% - 1em);
	}

	#sect1 {
		min-height: 330px;
	}

	#sect1 .about {
		display: none;
	}

	#sect1 .about p {
	}

	#sect1 .title-box {
		margin-top: 7em;
		width: 90%;
	}

	#sect1 .title-box h1 {
		font-size: 2em;
		font-weight: 500;
		margin: 0;
		text-align: left;
		color: #380E89;
	}

	#sect1 .mobile-about {
		display: block;
		margin-top: 1em;
		width: 90%;
	}

	#footer {
		left: 0;
		bottom: 0;
		min-height: 100px;
		width: 90%;
		color: #FFF;
		text-transform: uppercase;
		font-size: .8em;
	}
}